<section class="credit">
    
    
    		<p>
        		<strong>A cura di:</strong> Federica De Cesco <br/>
    		</p>
    		<p>
        		<strong>Testi:</strong> Claudia Durastanti, Valeria Palumbo, Leonardo Caffo, Luca Mastrantonio, Alessia Rastelli, Chiara Lalli, Telmo Pievani, Andrea Marinelli <br/>
    		</p>
    		<p>
        		<strong>Sviluppo grafico:</strong> Grafici Corriere Online <br/>
    		</p>
        
    

   
</section>