   
	<title>La tavola periodica delle parole - Corriere.it</title>
    <meta name="title" content="La tavola periodica delle parole - Corriere.it">
    <meta name="description" content="">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="La tavola periodica delle parole"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="https://www.corriere.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/"/>
    <meta property="og:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/social.png"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content=""/>
    <meta name="author" content="Federica De Cesco"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="Federica De Cesco">
    <meta name="twitter:title" content="La tavola periodica delle parole">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/assets/img/social.png">

    <link rel="canonical" href="https://www.corriere.it/speciale/esteri/2020/mappa-nuovi-focolai-coronavirus-mondo/"/>

    
