<section class="copertina">
    <div class="cont">
	    <div class="titoli">
		      <h1>La tavola periodica delle parole </h1>
		      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
		      <p class="autore">
		      	di a cura di Federica De Cesco 
		      </p>
		      <p class="firme">con i testi di <em>Claudia Durastanti, Valeria Palumbo, Leonardo Caffo, Luca Mastrantonio, Alessia Rastelli, Chiara Lalli, Telmo Pievani, Andrea Marinelli</em> </p>

		</div>
	</div>	  
</section>
