<section class="credit">
    
    
    {{#each data}}
    	{{#each this}}
    		{{#if this}}
    		<p>
        		<strong>{{@key}}</strong> {{{this}}} <br/>
    		</p>
    		{{/if}}
        {{/each}}
        
    {{/each}}
    

   
</section>