

<link rel="stylesheet" type="text/css" href="/reportages/esteri/2016/domanderisposteusa/assets/font-awesome/css/font-awesome.min.css"> 

<link rel="stylesheet" href="/reportages/esteri/2016/domanderisposteusa/assets/css/main.css">



<!-- Tema speciale listjs basato su bootstrap --> 

<!-- <link rel="stylesheet" href="/reportages/esteri/2016/domanderisposteusa/bower_components/bootstrap/dist/css/bootstrap.min.css" />  -->

<!-- <link rel="stylesheet" href="/reportages/esteri/2016/domanderisposteusa/assets/material/css/bootstrap-material-design.min.css" />  -->

<!-- <link rel="stylesheet" href="/reportages/esteri/2016/domanderisposteusa/assets/material/css/ripples.min.css" />  -->



<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script> 
 

<script src="http://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script> 
<script src="/reportages/esteri/2016/domanderisposteusa/assets/material/js/material.min.js" type="text/javascript"></script> 
<script src="/reportages/esteri/2016/domanderisposteusa/assets/material/js/ripples.min.js" type="text/javascript"></script> 



<script src="/reportages/esteri/2016/domanderisposteusa/assets/script/js.js" type="text/javascript"></script> 

   

<!--#if expr="$QUERY_STRING = /page=([^#]*)&([^#]*)/" -->
	<!--#set var="pagina" value="$1" -->
	<!--#set var="pagename" value="/reportages/esteri/2016/domanderisposteusa/page/${PAGINA}.shtml"-->

<!--#else -->

    <!--#set var="pagename" value="/reportages/esteri/2016/domanderisposteusa/index.shtml"-->

<!--#endif -->



<!--#include virtual="${PAGENAME}"-->

