{{#ifCond include "==" "FALSE"}}

<!-- @@@@@@@@@ GRAFICI @@@@@@@@@ -->
<!--#set var="sezione" value="esteri" -->
<!--#set var="sottosezione" value="default" -->
<!-- @@@@@@@@@ GRAFICI @@@@@@@@@ -->
<!DOCTYPE html>
<html lang="it" prefix="og:http://ogp.me/ns#">
<head>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59DV6JW');</script>
    <!-- End Google Tag Manager -->

    <!--#include virtual="/includes2013/SSI/config/global.config" -->

<script type="text/javascript">
    var sezione = "<!--#echo var='sezione' -->";
    var sottosezione = "<!--#echo var='sottosezione' -->";
    var tipologia = "articolo";
</script>

<!--#include virtual="/shared/reportage/includes/set_var.shtml"-->
<!-- qui sono in master, check it! -->
<meta http-equiv="content-type" content="text/html; iso-8859-1">
{{!-- <meta charset="iso-8859-1" /> --}}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--#include virtual="include-social.html"-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<link rel="stylesheet" href="<!--#echo var="WEB_ROOT_CSS" -->/speciale/sette/2020/tavola-periodica-parole-interviste/assets/css/voci.css">

<!--#include virtual="/speciale/asset/tracking.inc" -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59DV6JW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="loading">
    <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/asset/img/CdS-grigio.svg" alt="Loading...">
</div>

<div class="specialeCorriere">

  {{#ifCond testata "==" "default"}}
  
   <header>
            <a href="https://www.corriere.it" title="Corriere della Sera.it" class="logo"><img src="<!--#echo var="WEB_ROOT_IMG" -->/test/logo_corriere.svg" width="100%" alt="corriere.it" /></a>       
            <!--#include virtual="social.inc"-->	
  </header>
  {{/ifCond}}

{{/ifCond}}

<article>

{{#each ordine}}

  {{!-- <section id="{{this}}" class=""> --}}
    {{!-- <h1>
      {{@index}} - {{this}}
    </h1> --}}
   <!--#include virtual="include-{{this}}.html"-->
  {{!-- </section> --}}

{{/each}}

</article>

<!--#include virtual="/speciale/asset/footer.inc" -->
</div>

{{#ifCond include "==" "FALSE"}}


<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>   
<script src="<!--#echo var="WEB_ROOT_JS" -->/speciale/sette/2020/tavola-periodica-parole-interviste/assets/script/js.js" type="text/javascript"></script>
<link rel="stylesheet" href="<!--#echo var="WEB_ROOT_CSS" -->/speciale/sette/2020/tavola-periodica-parole-interviste/assets/css/font-face.css">

<link rel="stylesheet" href="<!--#echo var="WEB_ROOT_CSS" -->/speciale/sette/2020/tavola-periodica-parole-interviste/assets/css/footer.css">
<link rel="stylesheet" href="<!--#echo var="WEB_ROOT_CSS" -->/speciale/sette/2020/tavola-periodica-parole-interviste/assets/css/print.css" media="print">

    <script src="<!--#echo var="WEB_ROOT_JS" -->/speciale/asset/js/share.js"></script>

    <!--#if expr="$DEVICE != mobile" --> 

    <!--#else-->
        <script></script>
    <!--#endif-->

            <!--#include virtual="/includes2013/SSI/bottom/tracking/tracking_grafici.shtml" -->
    </body>
    </html>
{{/ifCond}}