<section class="copertina">
    <div class="cont">
	    <div class="titoli">
	    	{{#each data}}
		      {{#if titolo}}<h1>{{normalizzami titolo}} </h1>{{/if}}
		      {{#if sommario}}<h3>{{{normalizzami sommario}}}</h3>{{/if}}
		      {{#if autore}}
		      <p class="autore">
		      	di {{{normalizzami autore}}} 
		      </p>
		      {{/if}}
		      {{#if data}}
		      <p class="data">{{{normalizzami data}}} </p>
		       {{/if}}
		       {{#if firme}}
		      <p class="firme">con i testi di <em>{{{normalizzami firme}}}</em> </p>
		      {{/if}}
		      {{#if testo}}
		    <p class="testo">{{{normalizzami testo}}} </p>
		    {{/if}}
		    {{/each}}

		</div>
	</div>	  
</section>
