
.photo img {
	display: none;
}

section.copertina .titoli  {
	width: 100%;
}

section.copertina .titoli h1 {
	max-width: 100%;
}

section.copertina .titoli h3, section.copertina .titoli p {
	max-width: 100%;
}


#listaDonne {
	display: none;
}
.copertina { 
	text-align: center;
	page-break-inside: avoid;
	page-break-after: always;
}
section.description .descrizione {
    display: block !important;
	page-break-inside: avoid;
	page-break-after: always;
}
section.copertina  .titoli h1, section.copertina  .titoli h3, section.copertina  .titoli p {
    max-width: 100%;
}
.social_donna {
	display: none;
}
header .shareToolBar {
	display: none !important;
}


